.message-list {
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 5px 20px;
    background-color: white;
}

.message-list::-webkit-scrollbar{
    width: 7px;
    background: transparent;
}

.message-list::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.message-list:hover::-webkit-scrollbar-thumb {
    background-color: #ffc250;
}

.messages-divider{
    border-top: 1px solid #5d4721;
    color: #5d4721;
    font-size: 12px;
    text-align: center;
}