.message {
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.message-user-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-user-name{
    text-align: center;
}

.message-info-block{
    display: flex;
    height: max-content;
    flex-direction: column;
    justify-content: space-between;
    max-width: 70%;
    background-color: #ffc250;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 5px;
    position: relative;
}

.message-time{
    text-align: right;
    font-size: 12px;
    color: #464646;
}

.message-like, .message-liked{
    position: absolute;
    bottom: 0;
    right: -9px;
    border: none;
    background-color: transparent;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.like-svg{
    width: 15px;
    height: 15px;
}
