.user-list__item{
     display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #464646;
    padding: 10px 0;
}

.user-list__item div{
    flex: 0 0 20%;
    font-size: 12px;
    overflow: hidden;
}


.user-list__avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-list__button{
    background-color: #ffc250;
    color: white;
}