.message-input {
    width: 100%;
    flex: 0 0 50px;
    padding: 5px 0;
    display: flex;
}

.message-input-text{
    flex: 1 1 calc(100% - 80px);
}

.message-input-button{
    flex: 0 0 80px;
    background-color: #ffc250;
}