.own-message{
    width: 100%;
    display: inline-block;
}

.own-message>.message-info-block {
    display: grid;
    float: right;
    clear: both;
    margin-bottom: 10px;
    position: relative;
    background-color: white;
    border: 2px solid #ffc250;
    margin-left: 30px;
}

.own-message:focus .message-delete, .own-message:focus .message-edit{
    display: block;
}

.message-delete, .message-edit{
    width: 12px;
    height: 12px;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    padding: 0;
    border: none;
    left: -20px;
}

.message-edit{
    top: calc(50% - 15px);
    background-image: url("../../images/edit.png");
}

.message-delete{
    bottom: calc(50% - 15px);
    background-image: url("../../images/delete.svg");
}


