.message-editor{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
}


.message-editor__block{
    display: block;
    background-color: white;
}

.menu-editor{
    display: flex;
    justify-content: flex-end;
}

.edit-message-close, .edit-message-button{
    padding: 5px 10px;
    background-color: #ffc250;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

